.circle{
    border-radius: 50%;
    border: 1px solid black;
    width: 15px;
    height: 15px;
    background-color: transparent;
    cursor: pointer;
    
}
.selected-indicate{
    background-color: #584364;
}

.slide{
    transition: all 0.2s ease-in;
    position: absolute;
    inset: 0;
    z-index: 1;
}

.not-active-slide{
    opacity: 0;
    z-index: -1;
}
.active-slide{
    opacity: 1;
    display: block;
}
.rc-accordion-card{
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
}
.rc-accordion-toggle {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    justify-content: space-between;
    background-color: #ebedf0;
    transition: 0.3s;
}
.rc-accordion-toggle.active{
    background-color: #b5efc9;
}

.rc-accordion-card:last-child{
    margin-bottom: 0;

}

.rc-accordion-title{
    font-weight: 500;
    font-size: 14px;
    position: relative;
    margin-bottom: 0;
    color: #475F7B;
    transition: 0.3s;
}

.rc-collapse{
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease;
}
.rc-collapse.show{
    height: auto;
}

.rc-accordion-body{
    flex: 1 1 auto;
    min-height: 1px;
    padding: 15px;
}
.rc-accordion-body p{

    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #727E8C;
    min-height: auto;
}
